{
	"env": {
		"es6": true,
		"node": true,
		"browser": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 7,
		"sourceType": "module"
	},
	"rules": {
		"no-empty": "warn",
		"no-console": "off",
		"no-debugger": "off",
		"no-unused-vars": "warn",
		"indent": ["error", "tab"],
		"linebreak-style": ["error", "unix"]
	},
	"ignorePatterns": ["*.d.ts"]
}
